body {
    overflow-x: hidden;
    padding-right: 0 !important;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    height: 100%;
}

body:before,
body:after {
    content: none!important
}

::i-block-chrome,
body {
    -webkit-text-stroke: .1px
}

iframe {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
span,
p,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    clear: none;
}

figure {
    margin: 0;
}

label {
    font-weight: normal;
}

*:focus {
    outline: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
input[type="submit"] {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus,
select:focus,
button:focus {
    box-shadow: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}

h1 {
    font-size: 101px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 21px;
    letter-spacing: 1px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 17px;
    color: #000000;
    font-weight: 400;
    line-height: 1.8em;
}

*::-webkit-input-placeholder {
    color: #999 !important;
    opacity: 1;
}

*::-moz-placeholder {
    color: #999 !important;
    opacity: 1;
}

*:-ms-input-placeholder {
    opacity: 1 !important;
    color: #999 !important;
}


/*****  Main CSS  *****/

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.container .container {
    width: auto;
    padding: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.preloader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}

.preloader>span {
    display: inline-block;
    font-size: 36px;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    color: #000;
    text-align: center;
}


/**** Header ****/

header {
    width: 100%;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 99;
    background: #fff;
    position: relative;
}

.top_header {
    background: #1c1c1c;
    width: 100%;
    padding: 8px 0;
}

.header_social ul li {
    list-style: none;
    display: inline-block;
    color: #a9a9a9;
    font-size: 16px;
    margin-right: 26px;
    vertical-align: middle;
}

.header_social ul li:last-child {
    margin-right: 0;
}

.header_social ul li a {
    color: inherit;
}

.header_social ul li a:hover,
.header_social ul li a:focus {
    color: #ff9501;
}

.top_header_nav ul li {
    list-style: none;
    color: #e7e7e7;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 24px;
}

.top_header_nav ul li:last-child {
    margin-right: 0;
}

.top_header_nav ul li a {
    color: inherit;
}

.top_header_nav ul li a:hover,
.top_header_nav ul li a:focus {
    color: #e48705;
}

.top_header_main {
    -ms-flex-pack: space-between;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.btm_header {
    background: #fff;
    width: 100%;
    padding: 9px 0;
}

header .navbar {
    padding: 0
}

header .navbar .navbar-brand {
    margin: 0;
    padding: 0
}


/*header .navbar .navbar-collapse {
    margin-top: 10px
}
*/

header .navbar .navbar-nav li {
    margin-left: 43px;
    position: relative
}


/*header .navbar .navbar-nav li .dropdown-toggle:hover+.dropdown-menu,
header .navbar .navbar-nav li.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1
}*/

header .navbar .navbar-nav li .dropdown-toggle:after {
    vertical-align: 2px
}

header .navbar .navbar-nav li a {
    display: inline-block;
    vertical-align: middle;
    padding: 0!important;
    color: #2b2b2b;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

header .navbar .navbar-nav li a:focus,
header .navbar .navbar-nav li a:hover {
    color: #ff9501
}

header .navbar .navbar-nav li.current-menu-item a,
header .navbar .navbar-nav li .dropdown-menu a.current-menu-item,
header .navbar .navbar-nav li.current-menu-parent a {
    color: #ff9501
}

header .navbar .navbar-nav li .dropdown-menu {
    margin: 0;
    right: 0;
    left: 0;
    border: none;
    border-radius: 0;
    min-width: 195px;
    padding: 0
}

header .navbar .navbar-nav li .dropdown-menu a {
    display: block;
    font-size: 14px;
    color: #2b2b2b;
    background: #fafafa;
    padding: 10px 10px 8px!important;
    border-bottom: 1px solid #d8d7d7;
    letter-spacing: 0;
}

header .navbar .navbar-nav li .dropdown-menu a:last-child {
    border-bottom: 0
}

header .navbar .navbar-nav li .dropdown-menu a:focus,
header .navbar .navbar-nav li .dropdown-menu a:hover {
    color: #fff;
    background: #ff9501;
}

.dropdown-toggle:after {
    content: "\f107";
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    font: normal normal normal 14px/1 FontAwesome;
    color: #415568;
    top: 2px;
    position: relative
}

.donate_btn {
    margin-left: 42px;
}

.org_btn {
    width: 131px;
    background: #ff9501;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 8px;
    display: inline-block;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.org_btn:hover,
.org_btn:focus {
    background: #c06c08;
    color: #fff;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

header.sticky {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
}

header.sticky .top_header {
    display: none;
}


/**** Banner ****/

.banner_sec {
    width: 100%;
    position: relative;
    height: 600px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


/*.banner_sec:before{position: absolute;top:0;left: 0;width: 100%;height: 100%;content: '';background: rgba(0,0,0,0.52);}*/

.banner_caption {
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 46%;
}

.banner_caption h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.2em;
    margin-bottom: 13px;
}

.banner_caption h1 strong {
    color: #ff9501;
}

.banner_caption p {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 1.6em;
}

.banner_sec a.org_btn {
    margin-top: 35px;
}


/**** Counter Section ****/

.counter_sec {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    margin-top: -151px;
    z-index: 2;
    position: relative;
    padding: 31px 0 41px;
}

.banner_counter {
    text-align: center;
    display: inline-block;
    margin-right: 1%;
}

.banner_counter:last-child {
    margin-right: 0;
}

.counter,
.count_cstm span {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    line-height: normal;
}

.count_cstm span {}

.banner_counter h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.counter_main {
    -ms-flex-pack: space-between;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}


/**** Home Latest ****/

.home_latest_news {
    padding: 52px 0 61px;
}

.heading_sec {
    text-align: center;
}

.heading_sec h2 {
    font-size: 36px;
    color: #2b2b2b;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.heading_sec h2:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 70px;
    height: 2px;
    background: #000;
}

.news_bx h6 {
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #282828;
    margin-bottom: 15px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.home_latest_news .news_bx {
    width: 100%;
    margin-top: 53px;
}

.home_latest_news .news_bx a {
    display: block;
}

.home_latest_news .news_bx figure {
    margin-bottom: 31px;
}

.home_latest_news .news_bx figure img {
    width: 100%;
}

.home_latest_news .news_bx p {
    font-size: 14px;
    font-weight: 300;
    color: #939393
}

.brdr_btm {
    width: 100%;
    height: 5px;
    background: #e0dede;
    display: block;
    margin-top: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.news_bx_inr:hover h6,
.news_bx_inr:focus h6 {
    color: #ff9501;
}

.news_bx_inr:hover .brdr_btm,
.news_bx_inr:focus .brdr_btm {
    background: #ff9501;
}

.news_bx_inr {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}


/**** Home Teens Section ****/

.teens_sec {
    width: 100%;
    padding: 60px 0;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    text-align: center;
}

.teens_sec .heading_sec {
    margin-bottom: 43px;
}

.teens_sec .heading_sec h2 {
    color: #fff;
}

.teens_sec .heading_sec h2:after {
    background: #fff;
}

.teens_sec p {
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    max-width: 81%;
    text-align: center;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.teens_bx {
    margin-top: 64px;
}

.teens_bx figure {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 74px;
}

.teens_bx h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.teens_bx .col-sm-3 {
    text-align: center;
}

.teens_bx figure svg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.teens_bx figure svg path {
    fill: #fff;
}

.teens_bx .col-sm-3:hover h4,
.teens_bx .col-sm-3:focus h4 {
    color: #ff9501;
}

.teens_bx .col-sm-3:hover figure,
.teens_bx .col-sm-3:focus figure {
    border-color: #ff9501;
}

.teens_bx .col-sm-3:hover svg path,
.teens_bx .col-sm-3:focus svg path {
    fill: #ff9501;
}


/**** Home Journey ****/

.home_journey {
    width: 100%;
    text-align: center;
    padding: 52px 0 61px;
    background: #fff;
}

.home_journey_innr figure {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 453px;
    width: 50%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.home_journey .heading_sec {
    margin-bottom: 50px;
}

.home_journey_cntnt {
    background: #f9f9f9;
    width: 54%;
    padding: 57px 36px;
    margin-left: -6%;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
    position: relative;
}

.home_journey_cntnt ul li {
    color: #282828;
    font-size: 15px;
    font-weight: 300;
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
}

.home_journey_cntnt ul li:last-child {
    margin-bottom: 0;
}

.home_journey_cntnt ul li p {
    line-height: 1.5em;
    display: inline-block;
    width: 94%;
}

.home_journey_cntnt i {
    color: #ff9601;
    margin-right: 9px;
    vertical-align: top;
    margin-top: 4px;
    font-size: 17px;
    display: inline-block;
}

.home_donate {
    margin-top: 42px;
}


/**** Testimonial Section ****/

.testimonial_sec {
    width: 100%;
    padding: 44px 0;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.testimonial_sec:after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.quote_sec {
    margin-bottom: 30px;
    text-align: center;
    width: 63px;
    height: 63px;
    display: inline-block;
}

#testimonial_slider {
    z-index: 1;
    text-align: center;
}

#testimonial_slider h6 {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 29px;
}

#testimonial_slider p {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

#testimonial_slider figure {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-top: 39px;
    margin-bottom: 10px;
}

#testimonial_slider .author_info h6 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 0;
}

.author_info span {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

#testimonial_slider .carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
}

#testimonial_slider .carousel-inner {
    padding-bottom: 40px;
}

#testimonial_slider .carousel-indicators li::after,
#testimonial_slider .carousel-indicators li::before {
    display: none !important;
}

.carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #ff9600;
    border-color: #ff9600;
}

.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition-property: opacity;
    overflow: hidden;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}


/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .carousel-item.next,
    .carousel-fade .carousel-inner > .carousel-item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.prev,
    .carousel-fade .carousel-inner > .carousel-item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.next.left,
    .carousel-fade .carousel-inner > .carousel-item.prev.right,
    .carousel-fade .carousel-inner > .carousel-item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/**** Footer ****/

.top_ftr {
    width: 100%;
    background: #181818;
    padding: 48px 0;
}

.ftr_bx1 figure {
    width: 71px;
    margin-bottom: 30px;
}

.ftr_bx1 p {
    font-weight: 300;
    color: #c4c4c4;
    font-size: 15px;
}

.ftr_bx_cmn h5,
.ftr_bx_social h5 {
    font-size: 18px;
    color: #c4c4c4;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.ftr_bx_cmn ul li {
    list-style: none;
    font-size: 15px;
    color: #c4c4c4;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 12px;
}

.ftr_bx_cmn ul li:last-child {
    margin-bottom: 0;
}

.ftr_bx_cmn ul li a {
    color: inherit;
    padding: 0;
}

.ftr_bx_cmn ul li a.nav-link {
    display: inline-block;
}

.ftr_bx_cmn ul li a:hover,
.ftr_bx_cmn ul li a:focus,
.ftr_bx_cmn ul li.current-menu-item a {
    color: #ff9600;
}

.ftr_bx_cmn span,
.ftr_bx_cmn .ftr_info a {
    color: #c4c4c4;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7em;
    vertical-align: middle;
    display: inline-block;
}

.ftr_bx_cmn figure {
    width: 14px;
    margin-right: 17px;
    display: inline-block;
    vertical-align: middle;
}

.ftr_bx_cmn figure i {
    color: #c4c4c4;
    font-size: 19px;
    vertical-align: top;
    margin-top: 4px;
}

.ftr_bx_cmn .ftr_info:first-of-type figure i {
    margin-top: 2px;
}

.ftr_bx_cmn .ftr_info {
    margin-bottom: 22px;
}

.ftr_bx_cmn .ftr_info:last-of-type {
    margin-bottom: 0;
}

.ftr_bx_cmn .ftr_info:first-of-type span {
    vertical-align: top;
}

.ftr_bx_cmn .ftr_info i.fa-envelope {
    font-size: 14px;
}

.ftr_bx_cmn .ftr_info i.fa-mobile {
    font-size: 23px;
}

.ftr_bx_cmn .ftr_info a:hover,
.ftr_bx_cmn .ftr_info a:focus {
    color: #ff9600;
}

.ftr_bx_social ul li {
    font-size: 16px;
    color: #a9a9a9;
    margin-right: 25px;
    list-style: none;
    display: inline-block;
}

.ftr_bx_social ul li:last-child {
    margin-right: 0;
}

.ftr_bx_social ul li a {
    color: inherit;
}

.ftr_bx_social ul li a:hover,
.ftr_bx_social ul li a:focus {
    color: #ff9600;
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

.ftr_bx_social ul li a:hover i {
    -webkit-animation: tada;
    animation: tada;
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    -o-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.copyright_sec {
    width: 100%;
    background: #000000;
    text-align: center;
}

.copyright_sec p {
    font-size: 15px;
    color: #c3c3c3;
    font-weight: 300;
    padding: 18px 0;
}

.copyright_sec p a {
    color: #26a9e0;
}

.copyright_sec p a:hover,
.copyright_sec p a:focus {
    color: #ff9600;
}


/**** Contact Page ****/

.contact_sec {
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-size: cover !important;
    position: relative;
    height: 214px;
    background-attachment: fixed !important;
}

.contact_sec:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.5);
}

.contact_caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.contact_caption h3 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.bread_crumb {
    margin-top: 25px;
}

.bread_crumb ul li {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 0 6px;
    position: relative;
}

.bread_crumb ul li:first-child:before {
    display: none;
}

.bread_crumb ul li:before {
    content: '\f105';
    position: absolute;
    top: 0;
    left: 0;
    color: #ff9501;
    font-family: 'FontAwesome';
}

.bread_crumb ul li:first-child {
    padding-left: 0;
}

.bread_crumb ul li:last-child {
    padding-right: 0;
    padding-left: 13px;
}

.bread_crumb ul li a {
    color: inherit;
}

.bread_crumb ul li.active {
    color: #ff9501;
}

.bread_crumb ul li:hover a,
.bread_crumb ul li:focus a {
    color: #ff9501;
}

.contact_map {
    height: 361px;
    width: 100%;
}

.contact_map iframe {
    width: 100% !important;
    height: 100% !important;
}

.contact_main_sec {
    width: 100%;
    background: #f9f9f9;
    padding: 71px 0;
}

.contact_lft ul li {
    list-style: none;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 18px;
}

.contact_lft ul li:last-child {
    margin-bottom: 0;
}

.contact_lft ul li a {
    color: inherit;
}

.contact_lft ul li a:hover,
.contact_lft ul li a:focus {
    color: #dd8812;
}

.contact_lft ul li span {
    line-height: 1.8em;
    display: inline-block;
    width: 83%;
    vertical-align: middle;
}

.contact_lft ul li figure {
    width: 22px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
}

.contact_lft ul li figure i {
    color: #ff9501;
    font-size: 29px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contact_lft ul li figure i.fa-envelope-o {
    font-size: 20px;
}

.contact_lft_social {
    margin-top: 43px;
}

.contact_lft_social ul li {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    border: 1px solid #ff9501;
    width: 35px;
    height: 35px;
    font-size: 15px;
    color: #a0a1a5;
    text-align: center;
    margin-bottom: 0;
    line-height: 33px;
    margin-right: 15px;
}

.contact_lft_social ul li:last-child {
    margin-right: 0;
}

.contact_lft_social ul li a {
    color: inherit;
    display: block;
}

.contact_lft_social ul li:hover,
.contact_lft_social ul li:focus {
    background: #ff9501;
}

.contact_lft_social ul li:hover a,
.contact_lft_social ul li:focus a {
    color: #fff;
}

.sml_inpt {
    width: 47.7%;
    display: inline-block;
    margin-left: 4%;
}

.sml_inpt:nth-child(odd) {
    margin-left: 0;
}

.form_control {
    height: 50px;
    border: 1px solid transparent;
    background: #fff;
    font-size: 15px;
    color: #757575;
    font-weight: 300;
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 0px 0px 15px -8px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 15px -8px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 15px -8px rgba(50, 50, 50, 0.6);
    padding: 0 43px;
}

.name_txt {
    text-transform: capitalize;
}

.contact_rght form {
    width: 93%;
    text-align: left;
    float: right;
}

.form_control:focus {
    border-color: #ff9501 !important;
}

.contact_rght form p {
    position: relative;
    margin-bottom: 29px;
}

.contact_rght form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: #949494;
    font-size: 17px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact_rght p.full_wdth {
    width: 100%;
    margin-bottom: 0;
}

textarea.form_control {
    padding-left: 18px;
    padding-top: 12px;
    height: 150px;
    resize: none;
    line-height: 20px;
}

.sbmt_btn {
    position: relative;
    margin-top: 30px;
}


/**** Photo Gallery ****/

.photo_gallery_sec {
    padding: 60px 0;
    width: 100%;
}

.top_lft_full {
    margin-right: 1%;
    float: left;
    width: 69%;
    float: left;
}

.top_rght {
    float: right;
    width: 30%;
}

.top_lft_full figure,
.top_rght figure,
.med_lft figure,
.med_mid figure,
.med_rght figure {
    height: 276px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100%;
}

.glry_sc1 {
    margin-bottom: 10px;
    overflow: hidden;
}

.med_lft,
.med_mid,
.med_rght {
    width: 32.66%;
    float: left;
    display: inline;
}

.med_mid {
    margin: 0 1%;
}

.glry_sc1 .flt_lft {
    float: left;
    margin-right: 1%;
}

.glry_sc1 .flt_rght {
    float: right;
    margin-right: 0;
}

.glry_sc1:last-child {
    margin-bottom: 0;
}


/**** Video Gallery ****/

.video_gallery_sec {
    width: 100%;
    padding: 60px;
    0;
}

.video_bx_main {
    margin-bottom: 33px;
}

.video_bx_main:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.video_bx figure {
    width: 100%;
    height: 227px;
    margin-bottom: 10px;
    display: block;
}

.video_bx figure iframe {
    width: 100% !important;
    border: 0;
    height: 100% !important;
}

.video_bx p {
    font-size: 14px;
    color: #2b2b2b;
    font-weight: 300;
    line-height: 1.5em;
}

.video_bx ul li {
    list-style: none;
    font-size: 12px;
    font-weight: 300;
    color: #2b2b2b;
    display: inline-block;
    margin-right: 13px;
}

.video_bx ul li:last-child {
    margin-right: 0;
}


/**** News Page ****/

.news_sec {
    padding: 60px;
    width: 100%;
    background: #fefefe;
    overflow: hidden;
}

.news_main {
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    padding: 9px;
    margin-bottom: 32px;
}

.news_sec .col-sm-6:nth-last-child(-n+2) .news_main {
    margin-bottom: 0;
}

.news_bx_sc {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px -8px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 15px -8px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 15px -8px rgba(50, 50, 50, 0.6);
}

.news_cntnt {
    background: #ffffff;
    width: 100%;
    padding: 12px;
}

.news_cntnt h4 {
    font-size: 26px;
    color: #2b2b2b;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 7px;
}

.news_cntnt h4 a {
    color: inherit;
}

.news_cntnt h4 a:hover,
.news_cntnt h4 a:focus {
    color: #ff9501;
}

.news_cntnt p {
    font-size: 15px;
    font-weight: 300;
    color: #2b2b2b;
    line-height: 1.7em;
}

.news_cntnt ul {
    margin-top: 5px
}

.news_cntnt ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    color: #c2c2c2;
    margin-right: 28px;
    display: inline-block;
}

.news_cntnt ul li:last-child {
    margin-right: 0;
}

.news_cntnt ul li:first-child {
    color: #ff9501;
}


/**** News Inner Page ****/

.news_innr_page .news_cntnt {
    padding: 0;
    background: transparent;
}

.news_innr_page .news_cntnt figure {
    margin-bottom: 33px;
}

.news_innr_page .news_cntnt p+p {
    margin-top: 15px;
}

.news_innr_page .news_cntnt ul {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 17px;
    margin-bottom: 26px;
}

.news_innr_page .news_cntnt h4 {
    margin-bottom: 17px;
}


/**** About Page ****/

.about_sec {
    width: 100%;
    background: #fcfcfc;
    padding: 60px 0;
    overflow: hidden;
}

.about_sec_lft {
    padding-right: 54px;
}

.about_sec_lft h6 {
    font-weight: 700;
    font-size: 15px;
    color: #ff9501;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.about_sec_lft h2,
.about_page h2,
.team_sec h2 {
    font-size: 36px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 21px;
    letter-spacing: 1px;
}

.about_sec_lft p,
.about_page_inr p {
    font-weight: 300;
    font-size: 15px;
    color: #2b2b2b;
}

.about_sec_lft p+p,
.about_page_inr p+p {
    margin-top: 22px;
}

.about_sec figure {
    margin-top: 3px;
}

.about_page {
    width: 100%;
    text-align: left;
}

.about_page h2,
.team_sec h2 {
    text-transform: capitalize;
}

.about_page_inr {
    background: #f9f9f9;
    position: relative;
    padding: 60px 0;
}

.about_page_inr:before,
.about_page_inr:after {
    background: #f9f9f9;
    content: '';
    position: absolute;
    top: 0;
    left: -10000px;
    width: 10000px;
    height: 100%;
}

.about_page_inr:after {
    left: auto;
    right: -10000px;
}

.about_page_inr figure {
    margin-top: 10px;
}

.about_page_inr:nth-child(even) {
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    background: #fcfcfc;
}

.about_page_inr:nth-child(even):before,
.about_page_inr:nth-child(even):after {
    background: #fcfcfc;
}

.team_sec {
    padding: 50px 0;
    width: 100%;
    background: #fff;
    text-align: center;
}

.team_sec p {
    font-size: 17px;
    color: #2b2b2b;
    font-weight: 300;
    line-height: 1.5em;
    max-width: 67%;
    text-align: center;
    display: inline-block;
}

.team_sec h2 {
    margin-bottom: 15px;
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.testimonial_sec .owl-carousel {
    width: 100%;
    margin: auto;
}

#testimonial-demo {
    margin-top: 62px;
}

#testimonial-demo figure {
    margin-bottom: 20px;
}

#testimonial-demo figure img {
    width: 100%;
}

#testimonial-demo h5 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

#testimonial-demo h6 {
    font-weight: 300;
    color: #838383;
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 17px;
}

#testimonial-demo p {
    font-size: 13px;
    color: #2b2b2b;
    font-weight: 300;
    max-width: 100%;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
    margin-top: 0px;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* mouse grab icon */

.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-theme .owl-controls {
    margin-top: 14px;
    text-align: center;
}


/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons {
    display: none;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    font-size: 0px;
    color: #f9f9f9;
    margin: 0;
    opacity: 1;
    padding: 0;
    font-family: 'themify';
    font-weight: normal;
}


/* Clickable class fix problem with hover on touch devices */


/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #ff9501;
    margin: 0 10px 0 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ff9501;
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-item .item {
    margin: auto 15px;
    padding: 0;
    text-align: center;
}

.owl-prev:hover:before,
.owl-next:hover:before {
    opacity: 0.6;
}


/**** Career Page ****/

.career_sec {
    width: 100%;
    padding: 60px 0;
    background: #fff;
}

.career_sec_lft p {
    font-size: 15px;
    font-weight: 300;
    color: #2b2b2b;
    margin-bottom: 33px;
}

.career_sec_lft ul li {
    list-style: none;
    position: relative;
    margin-bottom: 17px;
}

.career_sec_lft ul li:before {
    position: absolute;
    width: 10px;
    height: 1px;
    content: '';
    top: 13px;
    left: 0;
    background: #ff9501;
}

.career_sec_lft ul li p {
    font-size: 15px;
    font-weight: 300;
    color: #2b2b2b;
    margin-bottom: 0px;
    padding-left: 22px;
}

.job_overview_sec {
    border-top: 1px solid #eceff6;
    width: 100%;
    margin-top: 45px;
    padding-top: 38px;
    border-bottom: 1px solid #eceff6;
    padding-bottom: 6px;
}

.career_sec_rght .career_form {
    padding: 27px;
    width: 100%;
    padding: 27px;
    background: #fafafa;
    width: 100%;
}

.career_sec_rght .career_form h5 {
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 600;
    text-transform: uppercase;
}

.career_sec_rght .career_form .mandate {
    font-size: 13px;
    color: #2b2b2b;
    font-weight: 300;
}

.career_sec_rght .career_form form {
    margin-top: 22px;
}

.career_sec_rght .career_form form .form_control {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding: 0 14px;
    border: 1px solid #eff1f3;
    height: 51px;
    background: #fdfdfd;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.career_sec_rght .career_form form p {
    margin-bottom: 20px;
}

.career_sec_rght .career_form form textarea.form_control {
    height: 131px;
    padding: 12px 14px;
}

.career_sec_rght .career_form form label {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    line-height: 0;
}

.upload_sec {
    width: 100%;
    float: left;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #050000;
    font-size: 11px;
    font-weight: 300;
    padding: 2px;
    background: #dbd8d1;
    width: 69px;
    text-align: center;
    border-bottom: 2px solid #ff9501;
    border-right: 2px solid #ff9501;
    display: inline-block;
    vertical-align: middle;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.fileUpload span {
    margin: 0;
}

#uploadFile {
    border: 0 none;
    color: #a5a4a4;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 4%;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    background: transparent;
}

#uploadFile[disabled] {
    opacity: 1;
}

#uploadFile::-moz-placeholder {
    color: #666666;
    opacity: 1;
}

#uploadFile:-ms-input-placeholder {
    color: #666666;
}

#uploadFile::-webkit-input-placeholder {
    color: #666666;
}

.upld_cstm {
    display: block;
}

.job_overview_sec ul {
    margin-top: 43px;
}

.job_overview_sec ul li {
    width: 32%;
    display: inline-block;
    margin-right: 1%;
}

.job_overview_sec ul li:nth-child(3n) {
    margin-right: 0;
}

.job_overview_sec ul li:before {
    display: none;
}

.job_overview_sec ul li p {
    padding-left: 0;
}

.job_overview_sec ul li figure {
    width: 24px;
    margin-right: 13px;
    display: inline-block;
    vertical-align: top;
}

.job_overview_sec ul li figure img {
    display: block;
}

.overview_cntnt {
    display: inline-block;
    width: 73%;
    vertical-align: top;
}

.overview_cntnt h5 {
    font-size: 18px;
    font-weight: 500;
    color: #2b2b2b;
}

.overview_cntnt p {
    font-weight: 300;
    font-size: 16px;
    color: #2b2b2b;
}

.share_sec {
    margin-top: 23px;
}

.share_sec label {
    font-size: 18px;
    vertical-align: middle;
    font-weight: 500;
    margin-right: 20px;
    color: #2b2b2b;
    margin-bottom: 0;
}

.share_sec a {
    width: 42px;
    height: 33px;
    text-align: center;
    border: 2px solid #3b5997;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    display: inline-block;
    color: #3b5997;
    font-size: 15px;
    line-height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.share_sec a:last-child {
    color: #1ca0f2;
    margin-right: 0;
    border-color: #1ca0f2;
}

.share_sec a:hover,
.share_sec a:focus {
    color: #ff9501;
    border-color: #ff9501;
}

@media (max-width:1199px) {
    .wow {
        -webkit-animation-name: none !important;
        animation-name: none !important;
        visibility: visible !important;
    }
    /**** Home Page ****/
    .banner_sec {
        height: 545px;
    }
    .banner_caption h1 {
        font-size: 50px;
    }
    .banner_caption {
        top: 41%;
    }
    .counter_sec {
        margin-top: -136px;
        padding: 25px 0 35px;
    }
    .counter,
    .count_cstm span {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .heading_sec h2 {
        font-size: 30px;
    }
    .home_latest_news,
    .home_journey {
        padding: 42px 0 51px;
    }
    .home_latest_news .news_bx {
        margin-top: 45px;
    }
    .teens_bx {
        margin-top: 50px;
    }
    .teens_sec p {
        max-width: 100%;
    }
    .teens_bx h4 {
        font-size: 17px;
    }
    .home_journey_cntnt ul li p {
        width: 90%;
    }
    #testimonial_slider h6 {
        font-size: 22px;
    }
    .quote_sec {
        width: 48px;
        height: 48px;
    }
    #testimonial_slider figure {
        margin-top: 20px;
    }
    .top_ftr {
        padding: 40px 0;
    }
    .ftr_bx_social ul li {
        margin-right: 17px;
    }
    .copyright_sec p {
        font-size: 14px;
    }
}

@media (max-width:991px) {
    /**** Homr Page ****/
    .banner_caption h1 {
        font-size: 42px;
    }
    .donate_btn {
        margin-left: 25px;
    }
    header .navbar .navbar-nav li {
        margin-left: 30px;
    }
    .home_latest_news .news_bx .col-sm-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home_latest_news .news_bx_inr {
        margin-bottom: 35px;
    }
    .home_latest_news .news_bx_inr:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    .teens_sec {
        padding: 50px 0;
    }
    .teens_bx h4 {
        line-height: 1.5em;
    }
    .home_journey_innr figure {
        width: 100%;
        height: 366px;
        margin-bottom: 30px;
    }
    .home_journey_cntnt {
        width: 100%;
        margin-left: 0;
    }
    .ftr_bx1,
    .ftr_nav_list {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .ftr_bx1 {
        text-align: center;
    }
    .ftr_bx1 figure {
        display: inline-block;
    }
    .ftr_nav_list {
          border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
    }
    .ftr_nav_list ul li {
        display: inline;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .ftr_nav_list ul li:last-child {
        margin-right: 0;
    }
    .ftr_bx_cmn h5,
    .ftr_bx_social h5 {
        margin-bottom: 15px;
    }
    .ftr_bx_cmn.col-sm-4,.ftr_bx_social  {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}